#footer{
	position:relative;
	top: 50px;
}

#footer > img{
	position:absolute;
	left:0;
	top:0;
	width: 100%;
}

#footer > div.container{
	z-index:100;
	position:absolute;    
	font-weight:bold;
	width: 80%;
	top:50px;
	margin-left: 10%;
    background: url('/images/trans.png');
    text-align: center;
    color: #b2dba1;
}

#footer > div.container a:link {color:#b2dba1;}
#footer > div.container a:visited {color:#b2dba1;}
#footer > div.container a:hover {color:#b2dba1;}
#footer > div.container a:active {color:#b2dba1;}

#thanks{
	z-index:100;
	position: fixed;
	right: 10px;
	bottom: 10px;
}