<div class="jumbotron">
	<div class="container">
		<h1>Products and services.</h1>
		<p>What we do and how we can help you.</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>Services</h2>
			<p>We offer a range of services that help you to meet your requirement to grow and support your business, we can make the technology do what you need so you can focus on what matters to you, your business.</p>
			<h3>Web design</h3>
			<p>We can take your requirements and build the solution you need.</p>
			<h3>Hosting</h3>
			<p>If your site needs hosting we can host your current solution or build upon one of our platforms.</p>
			<h3>Bespoke software and custom solutions</h3>
			<p>We have over two decades of experience in delivering scalable solutions for SME and Corporate clients.</p>
			<h3>Developers for your projects</h3>
			<p>Have you got an in house project but need solid developers to deliver?  Get in <a href="/contact.obd">contact</a> and see what we can do for you.</p>
		</div>
		<div class="col-md-6">
			<h2>Products</h2>
			<h3>openCMS</h3>
			<p>Our content management system allows you to manage your message on the web and optionally on iOS devices if we have created an app for you.  You create content on this site ready for review by your team and once you are happy you publish the site and it becomes available for all to view.</p>
		</div>
	</div>
</div>

<div data-bind="compose:'developer/index'"></div>